* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1.5rem;
    color: #008e84;
}

form {
    padding: 1rem;
    background-color: #008e84;
    color: white;
}

.form-item {
    margin-bottom: 1.5rem;
}

.form-item input {
    width: 70%;
    float: right;
    padding: .25rem;
    margin-top: -.25rem;
    border-radius: 3px;
    border: 1px black solid;
}

.form-actions {
    float: right;
}

.form-actions input[type="submit"] {
    border: none;
    background-color: #ff9e17;
    color: white;
    border-radius: 3px;
    padding: .5rem 1rem;
    text-transform: uppercase;
    font-weight: bold;
}

.form-actions input[type="submit"]:hover {
    background-color: #f77300;
    cursor: pointer;
}

#button-area {
    margin-top: 1.5rem;
}

a {
    color: rgb(255, 158, 22);
    font-weight: bold;
}

a#writeToThem {
    background: rgb(255, 158, 22);
    color: white;
    text-decoration: none;
    padding: 0.5em 1.5em;
    border-radius: 3em;
    font-weight: bold;
    font-size: 22px;
}

a#writeToThem.disabled {
    background: grey;
    cursor: default;
}

a#writeToThem:not(.disabled):hover {
    background-color: #f77300;
}

p {
    margin: 0 0 1.5em;
    max-width: 860px;
}

.rating {
    padding: .5em 1em;
    border-radius: 3px;
    font-weight: bold;
    text-transform: uppercase;
}

.green-rating {
    background-color: #50946c;
    color: white; 
}

.amber-rating {
    background-color: #ff9e17;
    color: white;
}

.red-rating {
    background-color: #ab004f;
    color: white;
}

.responses {
    position: relative;
    background-color: #ccc;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
}

.quotemark {
    position: absolute;
    font-weight: bolder;
    font-size: 30px;
}

.quotemark.start {
    margin-left: -.75rem;
}

.quotemark.end {
    margin-right: 1rem;
}

@media screen and (max-width:40em) {
    .form-item input {
        display: block;
        width: calc(100% - .5rem);
        float: none;
    }
    .form-item label {
        display: block;
        margin-bottom: 1em;
    }
}